streamlit
pandas
altair<5
openpyxl
plotly
plotly-express
openai==0.27.6
python-dotenv
# for chat_with_pdf
# google-generativeai
langchain
langchain-community
PyPDF2
faiss-cpu
# langchain_google_genai